@tailwind preflight;
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  /* Undo some preflight styles to make blog posts look better */
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
.arrow-anim {
  transition: transform 0.5s ease-in 0s, opacity 0.3s ease-in;
  opacity: 1;
}

a:hover .arrow-anim {
  opacity: 0;
  transform: translateX(50px);
}

@tailwind components;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
}

@tailwind utilities;

.container {
  max-width: 860px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.skill-transition {
  transition: all 0.5s ease;
}

.skill-transition:hover {
  transform: scale(1.5);
}
