@tailwind preflight;

.arrow-anim {
  transition: transform 0.5s ease-in 0s, opacity 0.3s ease-in;
  opacity: 1;
}

.visit-website:hover img {
  opacity: 0;
  transform: translateX(60px);
}

@tailwind components;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
}

@tailwind utilities;

.container {
  max-width: 860px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.skill-transition {
	transition: all 0.5s ease
}

.skill-transition:hover {
	transform: scale(1.5)
}
