@tailwind preflight;

img {
  margin-bottom: 0;
}

.arrow-anim {
  transition: transform 0.5s ease-in 0s, opacity 0.3s ease-in;
  opacity: 1;
}

.visit-website:hover img {
  opacity: 0;
  transform: translateX(60px);
}

@tailwind components;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

@tailwind utilities;

.container {
  max-width: 860px;
}

.grid-gap-1 {
  grid-gap: 1rem;
}
.grid-gap-2 {
  grid-gap: 2rem;
}
