@tailwind preflight;

@tailwind components;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
}

@tailwind utilities;

.container {
  max-width: 860px;
}
